<html>
    <body>
        <h1 style="font-size:28px;text-align:center">Thank you for contacting us!</h1>
    <p style="text-align:center;">We have received message from you!We will try to contact back you in next 24 hours!Thank You!</p>

    <hr>
    <h4>Get Support</h4>
    <p>Do you need any help in getting started or would you like to know more about what you can do with our platform? Check out our <a href="#">Help</a> page for the answers to many common questions and issues!</p><p>For any other issues feel free to <a href="#">Contact</a> us</p>
    <p>Thanks,<br><strong>Vishvesh Patel</strong></p>
    <p style="position:relative;bottom:30px;">Founder & CEO </p>
    <p style="text-align:center;">&copy; QRify 2021</p>
    </body>
    </html>