
<html>
    <body>
        <h1 style="font-size:28px;text-align:center">Welcome to <span style="color:#0000e6">QR</span>ify!</h1>
        <p style="text-align:center;">Where people can easily contact car owner!</p>
        <hr>
        <p>My name is Vishvesh, I am the founder and CEO of QRify. I am writing to thank you for signing up to join our community.</p>
    <p>We are trying to help vehicle owners and people around to contact vehicle owner by scanning QR code, without sharing any sensitive information.</p>
    <p>With QRify, if your vehicle is creating any issues, people can contact you by scanning the QR code.You can scan QR code, by using any QR reader application.</p>
    <hr>
    <h3>Order your sticker</h3>
    <p>In order to order your sticker click on the below button!It will cost you only 30 Rs/-</p>
    <a href="#"><button style="padding:12px 35px;font-size:20px;background-color:#0000e6;color:white;border:1px solid #0000e6;">Order Now</button></a> 
    <hr>
    <h4>Get Support</h4>
    <p>Do you need any help in getting started or would you like to know more about what you can do with our platform? Check out our <a href="#">Help</a> page for the answers to many common questions and issues!</p><p>For any other issues feel free to <a href="#">Contact</a> us</p>
    <p>Warm regards,<br><strong>Vishvesh Patel</strong></p>
    <p style="position:relative;bottom:20px;">Founder & CEO </p>
    <p style="text-align:center;">&copy; QRify 2021</p>
    </body>
</html>