<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Read faqs, still have doubts, feel free to ask question to us.">
    <meta name="title" content="Help">
    <title>Help</title>
    <meta name="keywords" content="help, doubts, faqs">
    <meta name="og:title" content="Help">
    <meta itemprop="name" content="QRify">
    <meta itemprop="description" content="Help">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" href="../static/Images/favicon-16x16.png" sizes="16x16" type="image/png"> 
</head>
<body>
         
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{url_for('home')}}"><img src="../static/Images/small-logo.jpeg" alt="logo" class="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('signup')}}">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('login')}}">Log In</a>
        </li>
      </ul>
    </div>
  </nav>


  <h1 class="faq-header">
    How we can help you?
  </h1>

  <div class="box">
    <p class="heading">FAQs</p>
    <div class="faqs">
       <details>
          <summary>How to register?</summary>
          <p class="text">
            On mobile, you can find out register link on navigation bar by tapping <i class="fa fa-bars" aria-hidden="true"></i> icon. Then fill out the information to become member of this site! Then you will be 
            able to Log In with your email address and password.
          </p>
       </details>
       <details>
          <summary>
            How to scan QR code?
          </summary>
          <p class="text">
            For Iphone users, you have in built QR scanner that you can use.But for android users, you have to download QR reader application from play store.
          </p>
       </details>
       <details>
          <summary>How I generate QR code for my own vehicle?</summary>
          <p class="text">To generate QR code for your vehicle, You need to register on our site! after registering, you will see your dashboard that contain your QR code and details that you have filled.</p>
       </details>
       <details>
        <summary>Should I have to purchase QR code from your site?</summary>
        <p class="text">
          Well, it is not necessary to purchase from our site.You can download or take a screen shot of your QR code and get print of that code and put in front of your car.But is you purchase from our site then many benefits you will get like reasonable price, proper format of the sticker.
        </p>
     </details>
    </div>
 </div>

 <div class="container">
     <div class="row">
         <div class="col-md-3 col-lg-3 col-sm-12">

         </div>
         <div class="col-md-6 col-lg-6 col-sm-12">
            <h3 class="ask-question">
                Still have doubt, feel free to ask a question
            </h3>
            <form onsubmit="return validate2()" action="{{url_for('help')}}" method="POST">
                <input type="email" id="email" class="form-control mt-4" placeholder="Enter Email Address" name="email">
                <p id="e-p" style="color:red;display:none;">Invalid Email</p>
                <textarea type="textarea" class="form-control mt-4" placeholder="Type a Question" required name="message"></textarea>
                <input type="submit" class="btn btn-lg mt-4 ask-submit-btn" value="Submit">
            </form>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-12">

        </div>
     </div>
 </div>

 

  <section id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-lg-3 col-sm-12">
          <img src="../static/Images/small-logo.jpeg" alt="logo" style="height:90px;" class="footer-logo mx-auto"><br>
          <div class="social-btns mt-5">
            <a href="https://www.facebook.com/Qrifyin-100537728815817"><i class="fa fa-2x fa-facebook-official" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/qrify.in/">
              <i class="fa fa-2x fa-instagram" aria-hidden="true"></i>
            </a>
            <a href="https://chatwith.io/s/6066c1b2a81e6">
              <i class="fa fa-2x fa-whatsapp" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-12">
          <h6>
            Become a member
          </h6>
          <ul class="footer-ul">
            <li class="footer-links">
              <i class="fa fa-angle-right" aria-hidden="true"></i><i class="fa fa-angle-right" aria-hidden="true"></i> <a href="{{url_for('signup')}}">Register</a>
            </li>
            <li class="footer-links">
              <i class="fa fa-angle-right" aria-hidden="true"></i><i class="fa fa-angle-right" aria-hidden="true"></i> <a href="{{url_for('login')}}">Log In</a>
            </li>
            </ul>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-12">
          <h6>
            Support
          </h6>
          <ul class="footer-ul">
            <li class="footer-links">
                <i class="fa fa-angle-right" aria-hidden="true"></i><i class="fa fa-angle-right" aria-hidden="true"></i> <a href="{{url_for('home')}}">Home</a>
              </li>
            <li class="footer-links">
              <i class="fa fa-angle-right" aria-hidden="true"></i><i class="fa fa-angle-right" aria-hidden="true"></i> <a href="{{url_for('help')}}">Help</a>
            </li>
            <li class="footer-links">
              <i class="fa fa-angle-right" aria-hidden="true"></i><i class="fa fa-angle-right" aria-hidden="true"></i> <a href="{{url_for('contact')}}">Contact Us</a>
            </li>
            <li class="footer-links">
              <i class="fa fa-angle-right" aria-hidden="true"></i><i class="fa fa-angle-right" aria-hidden="true"></i> <a href="{{url_for('feedback')}}">Give Us Feedback</a>
            </li>
            <li class="footer-links">
              <i class="fa fa-angle-right" aria-hidden="true"></i><i class="fa fa-angle-right" aria-hidden="true"></i> <a href="{{url_for('order')}}">Order Your Sticker</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-12">
          <h5>
            Stay updated with us!
          </h5>
          <form onsubmit="return validate()" action="{{url_for('newslatter')}}" method="POST">
            <input type="email" id="email2" name="email" placeholder="Enter your email address" class="form-control" required name="email">
            <p id="ep" style="color:red;display:none;">Invalid Email</p>
            <input type="submit" class="btn btn-lg mt-3" value="Submit" style="background-color:#0000e6;color:white;padding:4px 10px;">
          </form>
        </div>
      </div>
      <p class="love">
        Made with <span style="color:red;">❤</span> in India
        <hr class="footer-hr" style="text-align:center;">
      </p>
      <p class="copyright">
        copyright &copy; 2021 All rights reserved
    </p>
    </div>

    
  </section>

  <a href="https://chatwith.io/s/6066c1b2a81e6" class="whatsaap"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>

  <script>
    function validate(){
      var email = document.getElementById("email2").value;
      var emailregex = /^([a-zA-Z0-9\.-]+)@([a-zA-Z0-9\-]+)([a-z]{2,8})(.[a-zA-Z]{2,8})?$/;
      if(emailregex.test(email) == false){
          document.getElementById("email2").style.border = "2px solid red";
          document.getElementById("ep").style.display = "block";
          return false;
        }
    }

    function validate2(){
      var email = document.getElementById("email").value;
      var emailregex = /^([a-zA-Z0-9\.-]+)@([a-zA-Z0-9\-]+)([a-z]{2,8})(.[a-zA-Z]{2,8})?$/;
      if(emailregex.test(email) == false){
        document.getElementById("email").style.border = "2px solid red";
        document.getElementById("ep").style.display = "block";
        return false;
      }

    }
  </script>
        
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>